.button {
  @include reset-button;
  @include flex-center();

  --bg-color: transparent;
  --font-color: var(--color-green);

  max-height: 53px;
  border: 1px solid var(--color-green);
  border-radius: 70px;
  padding: 20px 36px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.29;

  background: var(--bg-color);
  color: var(--font-color);

  @include tablet {
    font-size: 16px;
    max-height: 46px;
    padding: 16px 34px;
  }

  @include hover {
    --bg-color: var(--color-green);
    --font-color: var(--color-dark);
  }

  // Градиентная кнопка
  &_gradient {
    --bg-color: var(--color-gradient);
    --font-color: var(--color-dark);
    border: none;
  }
}